name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: ./ci-rust.sh build
    - name: Run tests
      run: ./ci-rust.sh test
    - name: Run macro tests
      run: ./ci-rust.sh test-macros
    - name: Check formatting
      run: ./ci-rust.sh fmt
    - name: Run clippy
      run: ./ci-rust.sh clippy
    - name: Run clippy on macros
      run: ./ci-rust.sh clippy-macros
